---
import { Image } from "astro:assets";
import { formatDate } from "./utils/utils";
import type { CollectionEntry } from "astro:content";

const { blogEntry } = Astro.props;

interface Props {
  blogEntry: CollectionEntry<"blogs">;
}
---
<a
  class="group block rounded-xl outline-none ring-zinc-500 transition duration-300 focus-visible:ring dark:ring-zinc-200 dark:focus:outline-none"
  href={`/blogs/${blogEntry.slug}/`}
  data-astro-prefetch
>
<div class="grid grid-cols-12  gap-4 mb-4">
    <div class="col-span-12">
        <div class="bg-white rounded-2xl shadow-lg w-full relative p-4 h-auto">
           
                <div class="col-span-12">
                    <!-- <img src="assets/images/widgets/sm-2.jpg" alt="" class="max-w-full h-auto rounded-xl"> -->
                    <Image
                    class=""
                    src={blogEntry.data.cardImage}
                    alt={blogEntry.data.cardImageAlt}
                    draggable={"false"}
                    format={"avif"}
                  />
                </div><!--end col-->
                <div class="col-span-12 ">
                    <div class=" h-full flex flex-col p-3">
                        <div class="w-full  justify-between">
                            <span class="text-[12px] bg-green-500/10 text-green-500 dark:text-green-600 rounded font-medium py-0 px-2 inline-block mb-3">Hikvision Camera</span>                                                   
                            <span class="text-black font-medium text-xs ms-2">{formatDate(blogEntry.data.pubDate)}</span>
                        </div>
                        <p class="text-lg font-semibold  text-black  block leading-5 truncate hover:underline hover:underline-offset-[4px]">
                            {blogEntry.data.title} 
                        </a>
                    </div><!--end card-body-->
                </div><!--end col-->
                                      
        </div> <!--end card-->
    </div><!--end col--> 
    
   
    
    
</div><!--end grid--> 
</a>