---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import AvatarBlog from "./AvatarBlog.astro";


const { blogEntry } = Astro.props;

interface Props {
  blogEntry: CollectionEntry<"blogs">;
}
---
<a
  class="group relative block rounded-xl outline-none ring-zinc-500 transition duration-500 focus-visible:ring dark:ring-zinc-200 dark:focus:outline-none"
  href={`/blogs/${blogEntry.slug}/`}
  data-astro-prefetch
>
<div class="bg-white   rounded-2xl shadow-lg w-full relative p-4 mb-4">
  <div class="grid grid-cols-12 sm:grid-cols-12 md:grid-cols-12 lg:grid-cols-12 xl:grid-cols-12 gap-4">
  <div class="col-span-12 sm:col-span-6  md:col-span-4 lg:col-span-4 xl:col-span-4 p-8 transition-all duration-[600ms] ease-[cubic-bezier(0.45,0,0.55,1)] hover:scale-110">
    <Image
    class="max-w-full h-auto rounded-xl"
    src={blogEntry.data.cardImage}
    alt={blogEntry.data.cardImageAlt}
    draggable={"false"}
    loading={"eager"}
    format={"avif"}
  />    
  <!-- <img src="assets/images/widgets/sm-3.jpg" alt="" class="max-w-full h-auto rounded-xl"> -->
  </div><!--end col-->
  <div class="col-span-12 sm:col-span-6  md:col-span-8 lg:col-span-8 xl:col-span-8 ">
  <div class=" h-full flex flex-col p-3">
  <div class="w-full block">
  <span class="text-[12px] bg-pink-500/10 text-pink-500 dark:text-pink-600 rounded font-medium py-1 px-2 inline-block mb-3">Helth</span>                                                   
  <span class="text-slate-700  font-medium text-xs ms-2">23 Aug 2023</span>
              </div>
              <p class="text-[20px] md:text-3xl lg:text-3xl xl:text-[32px] leading-[30px] mb-5 md:mb-0 font-spectral font-semibold  text-gray-800  block">
                 {blogEntry.data.title}
              </a>
              <div class="flex flex-wrap justify-between mt-auto">
                  <div class="flex items-center">
                    <AvatarBlog blogEntry={blogEntry} />
                      <!-- <div class="w-8 h-8 rounded">
                          <img class="w-full h-full overflow-hidden object-cover rounded object-center" src="assets/images/users/avatar-1.jpg" alt="logo" />
                      </div> -->
                      <div class="ml-2">
                          <p tabindex="0" class="cursor-pointer hover:text-gray-500 focus:text-gray-500 text-gray-800  focus:outline-none focus:underline"><h5 class=" font-medium text-sm">Lovosis Technology</h5></p>
                          <p tabindex="0" class="focus:outline-none text-gray-500  text-xs font-medium"> 25th St - Naif - Dubai - United Arab Emirates</p>
                      </div>
                  </div>
                  <p class="block text-slate-500  hover:text-slate-600 underline decoration-1 decoration-dashed underline-offset-4  decoration-primary-500 font-medium  focus:outline-none self-center">Read More <i data-lucide="arrow-right" class="self-center inline-block ms-1 h-4 w-4"></i></a>                            
              </div>
          </div><!--end card-body-->
      </div><!--end col-->
  </div><!--end grid-->                              
</div> <!--end card--> 
</a>