---
import hikvision from "../assets/images/hik.png";
import TabNav from "./widgets/TabNav.astro";
import TabContent from "./widgets/TabContent.astro";
import sample from "../assets/images/hikviison.jpg";
import cam from "../assets/images/cam.png";
---

<section class="realtive md:py-0 py-0">
  <div class="container relative">
    <div class="grid grid-cols-1 pb-6 text-center">
      <h2 class="font-semibold text-4xl text-white leading-normal m-4">
        Top Hikvision distributor in Dubai
      </h2>
      <p class="text-slate-400 max-w-xl mx-auto">
        Discover why we're the preferred choice as a Hikvision distributor in
        the UAE. Our commitment to excellence means we offer the best-selling
        Hikvision products renowned for their reliability, performance, and
        innovation.
      </p>
    </div><!--end grid-->

    <div class="grid md:grid-cols-2 grid-cols-1  gap-6  mx-auto bg-white justify-between ">
    
      <div class="flex items-center justify-center md:w-auto w-full">
          <nav class="flex-column p-6  shadow rounded-md"
            aria-label="Tabs"
            role="tablist"
          >
          <TabNav
          id="tabs-with-card-item-1"
          dataTab="#tabs-with-card-1"
          aria="tabs-with-card-1"
          heading="Best Hikvision distributor in Dubai"
          content="At Lovosis Technology, customer satisfaction is our top priority. We offer comprehensive technical support services to assist you at every stage of your project, from initial consultation to installation and beyond"
          first={true}
        ></TabNav>
        <TabNav
        id="tabs-with-card-item-2"
        dataTab="#tabs-with-card-2"
        aria="tabs-with-card-2"
        heading="Best seller hikvision products"
        content="Experience the difference of partnering with the leading Hikvision distributor in the UAE"
        
       ></TabNav>
          

         
            <TabNav
              id="tabs-with-card-item-3"
              dataTab="#tabs-with-card-3"
              aria="tabs-with-card-3"
              heading="Hikvision biometric access control UAE"
              content="Hikvision biometric access systems offer secure, efficient entry management using fingerprint or facial recognition, ideal for modern security needs."
            />
          </nav>
    </div>
     
<div class="flex items-center justify-center  w-full">
      
        <div class="mx-auto p-8">
         
            <TabContent
              id="tabs-with-card-1"
              aria="tabs-with-card-item-1"
              src={hikvision}
              alt="Yellow and black heavy equipment on brown grass field"
              first={true}
            />
            <TabContent
              id="tabs-with-card-2"
              aria="tabs-with-card-item-2"
              src={sample}
              alt="A screenshot or graphic representation of the intuitive dashboard"
            
            />
            <TabContent
              id="tabs-with-card-3"
              aria="tabs-with-card-item-3"
              src={cam}
              alt="Gray metal building frame near tower crane during daytime"
            />
          
        </div>
      </div>
  </div><!--end container-->
</section>
<script is:inline src="/scripts/vendor/preline/tabs/index.js"
></script><!--end section-->
