---
import type { CollectionEntry } from "astro:content";
import AvatarTestimonial from "../components/widgets/AvatarTestimonial.astro";
const {testimonials } = Astro.props;
interface Props {
 
  testimonials: CollectionEntry<"testimonials">[];
}
---
<!-- Main div that wraps the testimonials section -->
<section
  class="mx-auto px-0 py-10 sm:px-2 lg:px-8 lg:py-14 2xl:max-w-full">
  <!-- Title of the testimonials section -->
  <div class="mb-6 w-full  sm:mb-10 md:mb-16  text-center">
    <!-- <h2
      class="text-balance text-2xl  font-bold text-neutral-800 dark:text-neutral-200 sm:text-3xl lg:text-4xl"
    >
       {title} 
    </h2> -->
  </div>

  <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3 p-4">
    <!-- Looping through each testimonial data and rendering it -->
    {
      testimonials.map((testimonial) => (
        <div class="flex h-auto">
          <div class="flex flex-col rounded-xl bg-neutral-50 dark:bg-red-500 bg-gradient-to-r from-red-600 to-red-400 p-6">
            <div class="flex-auto p-2 md:p-2">
              <!-- Testimonial content -->
              <p class="text-pretty   text-white md:text-lg p-4">
                {testimonial.data.content}
              </p>
            </div>
            {/* <div class="rounded-b-xl  bg-neutral-300/30 p-4 dark:bg-neutral-900/30 md:px-7"> */}
            {/* <div class="rounded-b-xl  bg-neutral-300/30 p-4 dark:bg-neutral-900/30 md:px-7"> */}
            <div class="rounded-xl   bg-black bg-gradient-to-r from-black to-black-400 p-6">
              <div class="flex items-center">
                <AvatarTestimonial
                  src={testimonial.data.avatarSrc.src}
                  alt={testimonial.data.avatarAlt}
                />

                <div class="ms-3 grow">
                  <p class="text-sm font-bold text-white ">
                    {testimonial.data.author}
                  </p>
                  <p class="text-xs text-white">
                    {testimonial.data.role}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
